In [24]:
import pandas as pd
# import openpyxl
import matplotlib as plot

In [25]:
path = "..\\Data\\KPMG_VI_New_raw_data_update_final.xlsx"
NewCustomerList0 = pd.read_excel(path, sheet_name="NewCustomerList")
Transactions0 = pd.read_excel(path, sheet_name="Transactions")
CustomerDemographic0 = pd.read_excel(path, sheet_name="CustomerDemographic")
CustomerAddress0 = pd.read_excel(path, sheet_name="CustomerAddress")

# This is to check the basic info for each sheet
print(NewCustomerList0.head(5))
print("======================")
print(Transactions0.head(5))
print("======================")
print(CustomerDemographic0.head(5))
print("======================")
print(CustomerAddress0.head(5))

C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\824455612.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  CustomerDemographic0 = pd.read_excel(path, sheet_name="CustomerDemographic")

  first_name   last_name  gender  past_3_years_bike_related_purchases  \
0    Marinna    Kauschke  Female                                   21
1       Olia   O' Mullan  Female                                   77
2   Brigitte    Whellams  Female                                   67
3        Ivy        Farr  Female                                   56
4   Beverlee  Ungerechts  Female                                   49

         DOB                       job_title job_industry_category  \
0 1973-03-15                 Sales Associate    Financial Services
1 1973-03-24               Account Executive                Health
2 1973-05-09  Payment Adjustment Coordinator                   NaN
3 1973-07-03             Office Assistant IV                    IT
4 1973-10-03                  Civil Engineer         Manufacturing

      wealth_segment deceased_indicator owns_car  ...  state    country  \
0  Affluent Customer                  N      Yes  ...    VIC  Australia
1      Mass Customer                  N       No  ...    NSW  Australia
2      Mass Customer                  N      Yes  ...    NSW  Australia
3     High Net Worth                  N       No  ...    NSW  Australia
4      Mass Customer                  N       No  ...    QLD  Australia

   property_valuation Unnamed: 16 Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0                   3        0.76        0.95       0.9500       0.9500
1                   7        0.88        0.88       0.8800       0.7480
2                   8        0.96        1.20       1.2000       1.0200
3                  11        0.87        0.87       1.0875       1.0875
4                   7        0.88        0.88       0.8800       0.7480

   Unnamed: 20  Rank     Value
0          234   595  0.775625
1           89   904  0.500000
2          156   188  1.156250
3          248   530  0.828750
4          235   617  0.754375

[5 rows x 23 columns]
======================
   transaction_id  product_id  customer_id transaction_date  online_order  \
0               1           2         2950       2017-02-25           0.0
1               2           3         3120       2017-05-21           1.0
2               3          37          402       2017-10-16           0.0
3               4          88         3135       2017-08-31           0.0
4               5          78          787       2017-10-01           1.0

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large

   list_price  standard_cost product_first_sold_date
0       71.49          53.62              2012-12-02
1     2091.47         388.92              2014-03-03
2     1793.43         248.82              1999-07-20
3     1198.46         381.10              1998-12-16
4     1765.30         709.48              2015-08-10
======================
   customer_id first_name last_name  gender  \
0          720     Darrel     Canet    Male
1         1092     Katlin   Creddon  Female
2         3410    Merrili   Brittin  Female
3         2413      Abbey    Murrow    Male
4          658       Donn   Bonnell    Male

   past_3_years_bike_related_purchases        DOB   Age  \
0                                   67 1931-10-23  91.0
1                                   56 1935-08-22  87.0
2                                   93 1940-09-22  82.0
3                                   27 1943-08-11  79.0
4                                   38 1944-01-24  78.0

                  job_title job_industry_category     wealth_segment  \
0        Recruiting Manager                Retail  Affluent Customer
1        VP Quality Control                Retail      Mass Customer
2                       NaN              Property      Mass Customer
3  Environmental Specialist         Manufacturing     High Net Worth
4            Tax Accountant         Manufacturing  Affluent Customer

  deceased_indicator owns_car  tenure
0                  N       No     6.0
1                  N       No     5.0
2                  N       No    16.0
3                  N      Yes    17.0
4                  N      Yes     8.0
======================
   customer_id              address  postcode state    country  \
0            1   060 Morning Avenue      2016   NSW  Australia
1            2  6 Meadow Vale Court      2153   NSW  Australia
2            4   0 Holy Cross Court      4211   QLD  Australia
3            5  17979 Del Mar Point      2448   NSW  Australia
4            6     9 Oakridge Court      3216   VIC  Australia

   property_valuation
0                  10
1                  10
2                   9
3                   4
4                   9

In [26]:
NewCustomerList0.info()
print("======================")
Transactions0.info()
print("======================")
CustomerDemographic0.info()
print("======================")
CustomerAddress0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.0+ MB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   Age                                  3999 non-null   float64
 7   job_title                            3494 non-null   object
 8   job_industry_category                3344 non-null   object
 9   wealth_segment                       4000 non-null   object
 10  deceased_indicator                   4000 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 406.4+ KB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [27]:
NewCustomerList = NewCustomerList0.dropna()
Transactions = Transactions0.dropna()
CustomerDemographic = CustomerDemographic0.dropna()
CustomerAddress = CustomerAddress0.dropna()

In [28]:
# from datetime import date
#
# def calculate_age(born):
#     today = date.today()
#     return today.year - CustomerDemographic["DOB"] - ((today.month, today.day) < (born.month, born.day))
# CustomerDemographic["Age"] = calculate_age(CustomerDemographic["DOB"])

In [29]:
CustomerDemographic.corr()

C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\3621556789.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  CustomerDemographic.corr()

,customer_id,past_3_years_bike_related_purchases,Age,tenure
customer_id,1.000000,-0.002652,0.011278,-0.020023
past_3_years_bike_related_purchases,-0.002652,1.000000,-0.037559,-0.020087
Age,0.011278,-0.037559,1.000000,0.424613
tenure,-0.020023,-0.020087,0.424613,1.000000