In [61]:
import pandas as pd
# import openpyxl
import matplotlib as plot

In [62]:
path = "..\\Data\\KPMG_VI_New_raw_data_update_final.xlsx"
NewCustomerList0 = pd.read_excel(path, sheet_name="NewCustomerList")
Transactions0 = pd.read_excel(path, sheet_name="Transactions")
CustomerDemographic0 = pd.read_excel(path, sheet_name="CustomerDemographic")
CustomerAddress0 = pd.read_excel(path, sheet_name="CustomerAddress")

# This is to check the basic info for each sheet
print(NewCustomerList0.head(5))
print("======================")
print(Transactions0.head(5))
print("======================")
print(CustomerDemographic0.head(5))
print("======================")
print(CustomerAddress0.head(5))

C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\824455612.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  CustomerDemographic0 = pd.read_excel(path, sheet_name="CustomerDemographic")

  first_name   last_name  gender  past_3_years_bike_related_purchases  \
0    Marinna    Kauschke  Female                                   21
1       Olia   O' Mullan  Female                                   77
2   Brigitte    Whellams  Female                                   67
3        Ivy        Farr  Female                                   56
4   Beverlee  Ungerechts  Female                                   49

         DOB                       job_title job_industry_category  \
0 1973-03-15                 Sales Associate    Financial Services
1 1973-03-24               Account Executive                Health
2 1973-05-09  Payment Adjustment Coordinator                   NaN
3 1973-07-03             Office Assistant IV                    IT
4 1973-10-03                  Civil Engineer         Manufacturing

      wealth_segment deceased_indicator owns_car  ...  state    country  \
0  Affluent Customer                  N      Yes  ...    VIC  Australia
1      Mass Customer                  N       No  ...    NSW  Australia
2      Mass Customer                  N      Yes  ...    NSW  Australia
3     High Net Worth                  N       No  ...    NSW  Australia
4      Mass Customer                  N       No  ...    QLD  Australia

   property_valuation Unnamed: 16 Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0                   3        0.43      0.5375       0.5375     0.537500
1                   7        0.91      0.9100       0.9100     0.773500
2                   8        0.81      1.0125       1.0125     0.860625
3                  11        0.51      0.5100       0.6375     0.637500
4                   7        0.62      0.6200       0.6200     0.527000

   Unnamed: 20  Rank     Value
0          234   595  0.775625
1           89   904  0.500000
2          156   188  1.156250
3          248   530  0.828750
4          235   617  0.754375

[5 rows x 23 columns]
======================
   transaction_id  product_id  customer_id transaction_date  online_order  \
0               1           2         2950       2017-02-25           0.0
1               2           3         3120       2017-05-21           1.0
2               3          37          402       2017-10-16           0.0
3               4          88         3135       2017-08-31           0.0
4               5          78          787       2017-10-01           1.0

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large

   list_price  standard_cost   Profit product_first_sold_date
0       71.49          53.62    17.87              2012-12-02
1     2091.47         388.92  1702.55              2014-03-03
2     1793.43         248.82  1544.61              1999-07-20
3     1198.46         381.10   817.36              1998-12-16
4     1765.30         709.48  1055.82              2015-08-10
======================
   customer_id first_name last_name  gender  \
0          720     Darrel     Canet    Male
1         1092     Katlin   Creddon  Female
2         3410    Merrili   Brittin  Female
3         2413      Abbey    Murrow    Male
4          658       Donn   Bonnell    Male

   past_3_years_bike_related_purchases        DOB   Age  \
0                                   67 1931-10-23  91.0
1                                   56 1935-08-22  87.0
2                                   93 1940-09-22  82.0
3                                   27 1943-08-11  79.0
4                                   38 1944-01-24  78.0

                  job_title job_industry_category     wealth_segment  \
0        Recruiting Manager                Retail  Affluent Customer
1        VP Quality Control                Retail      Mass Customer
2                       NaN              Property      Mass Customer
3  Environmental Specialist         Manufacturing     High Net Worth
4            Tax Accountant         Manufacturing  Affluent Customer

  deceased_indicator owns_car  tenure
0                  N       No     6.0
1                  N       No     5.0
2                  N       No    16.0
3                  N      Yes    17.0
4                  N      Yes     8.0
======================
   customer_id              address  postcode state    country  \
0            1   060 Morning Avenue      2016   NSW  Australia
1            2  6 Meadow Vale Court      2153   NSW  Australia
2            4   0 Holy Cross Court      4211   QLD  Australia
3            5  17979 Del Mar Point      2448   NSW  Australia
4            6     9 Oakridge Court      3216   VIC  Australia

   property_valuation
0                  10
1                  10
2                   9
3                   4
4                   9

In [63]:
NewCustomerList0.info()
print("======================")
Transactions0.info()
print("======================")
CustomerDemographic0.info()
print("======================")
CustomerAddress0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  Profit                   20000 non-null  float64
 13  product_first_sold_date  19803 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(5)
memory usage: 2.1+ MB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   Age                                  3999 non-null   float64
 7   job_title                            3494 non-null   object
 8   job_industry_category                3344 non-null   object
 9   wealth_segment                       4000 non-null   object
 10  deceased_indicator                   4000 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 406.4+ KB
======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [64]:
NewCustomerList = NewCustomerList0.dropna()
Transactions = Transactions0.dropna()
CustomerDemographic = CustomerDemographic0.dropna()
CustomerAddress = CustomerAddress0.dropna()
#===========================================
NewCustomerList.info()
Transactions.info()
CustomerDemographic.info()
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 0 to 981
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           715 non-null    object
 1   last_name                            715 non-null    object
 2   gender                               715 non-null    object
 3   past_3_years_bike_related_purchases  715 non-null    int64
 4   DOB                                  715 non-null    datetime64[ns]
 5   job_title                            715 non-null    object
 6   job_industry_category                715 non-null    object
 7   wealth_segment                       715 non-null    object
 8   deceased_indicator                   715 non-null    object
 9   owns_car                             715 non-null    object
 10  tenure                               715 non-null    int64
 11  address                              715 non-null    object
 12  postcode                             715 non-null    int64
 13  state                                715 non-null    object
 14  country                              715 non-null    object
 15  property_valuation                   715 non-null    int64
 16  Unnamed: 16                          715 non-null    float64
 17  Unnamed: 17                          715 non-null    float64
 18  Unnamed: 18                          715 non-null    float64
 19  Unnamed: 19                          715 non-null    float64
 20  Unnamed: 20                          715 non-null    int64
 21  Rank                                 715 non-null    int64
 22  Value                                715 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 134.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  float64
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  Profit                   19445 non-null  float64
 13  product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(5)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2779 entries, 0 to 3911
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          2779 non-null   int64
 1   first_name                           2779 non-null   object
 2   last_name                            2779 non-null   object
 3   gender                               2779 non-null   object
 4   past_3_years_bike_related_purchases  2779 non-null   int64
 5   DOB                                  2779 non-null   datetime64[ns]
 6   Age                                  2779 non-null   float64
 7   job_title                            2779 non-null   object
 8   job_industry_category                2779 non-null   object
 9   wealth_segment                       2779 non-null   object
 10  deceased_indicator                   2779 non-null   object
 11  owns_car                             2779 non-null   object
 12  tenure                               2779 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 304.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [65]:
print(Transactions.columns)
print(CustomerDemographic.columns)
print(CustomerAddress.columns)

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'Profit', 'product_first_sold_date'],
      dtype='object')
Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'Age', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure'],
      dtype='object')
Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [66]:
CustomerDemographic = CustomerDemographic.drop(CustomerDemographic[CustomerDemographic.deceased_indicator=="Y"].index)

In [116]:
infoCustomerDemo = CustomerDemographic[["customer_id", "gender","Age","past_3_years_bike_related_purchases", "job_industry_category", "wealth_segment", "owns_car", "tenure"]]
infoTransactions = Transactions[["product_id", "transaction_date", "online_order", "order_status", "product_line", "product_class", "product_size", "Profit", "product_first_sold_date"]]
infoAddress = CustomerAddress[["state", "property_valuation"]]
combined_data1 = pd.merge(infoCustomerDemo, infoAddress, left_index=True, right_index=True)
# combined_data2 = pd.merge(combined_data1, infoAddress, left_index=True, right_index=True)
combined_data1.dropna()
infoTransactions.dropna()
# combined_data1.info()

,product_id,transaction_date,online_order,order_status,product_line,product_class,product_size,Profit,product_first_sold_date
0,2,2017-02-25,0.0,Approved,Standard,medium,medium,17.87,2012-12-02
1,3,2017-05-21,1.0,Approved,Standard,medium,large,1702.55,2014-03-03
2,37,2017-10-16,0.0,Approved,Standard,low,medium,1544.61,1999-07-20
3,88,2017-08-31,0.0,Approved,Standard,medium,medium,817.36,1998-12-16
4,78,2017-10-01,1.0,Approved,Standard,medium,large,1055.82,2015-08-10
...,...,...,...,...,...,...,...,...,...
19995,51,2017-06-24,1.0,Approved,Standard,high,medium,802.26,2003-07-21
19996,41,2017-11-09,1.0,Approved,Road,medium,medium,104.24,1997-05-10
19997,87,2017-04-14,1.0,Approved,Standard,medium,medium,1592.19,2010-08-20
19998,6,2017-07-03,0.0,Approved,Standard,high,medium,91.15,2004-08-17
19999,11,2017-09-22,1.0,Approved,Standard,medium,small,195.34,1999-06-23

In [117]:
combined_data1["gender"].replace("Female", 1,inplace=True)
combined_data1["gender"].replace("Male", 0,inplace=True)
combined_data1["owns_car"].replace("Yes", 1,inplace=True)
combined_data1["owns_car"].replace("No", 0,inplace=True)
combined_data1["owns_car"] = pd.to_numeric(combined_data1["owns_car"], errors='coerce')
combined_data1["gender"] = pd.to_numeric(combined_data1["gender"], errors='coerce')
combined_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2777 entries, 0 to 3911
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          2777 non-null   int64
 1   gender                               2777 non-null   int64
 2   Age                                  2777 non-null   float64
 3   past_3_years_bike_related_purchases  2777 non-null   int64
 4   job_industry_category                2777 non-null   object
 5   wealth_segment                       2777 non-null   object
 6   owns_car                             2777 non-null   int64
 7   tenure                               2777 non-null   float64
 8   state                                2777 non-null   object
 9   property_valuation                   2777 non-null   int64
dtypes: float64(2), int64(5), object(3)
memory usage: 238.6+ KB

In [119]:
infoTransactions['online_order'].replace('TRUE', 1, inplace=True)
infoTransactions['online_order'].replace('FALSE', 0, inplace=True)
infoTransactions['order_status'].replace('Approved', 1, inplace=True)
infoTransactions['order_status'].replace('Cancelled', 0, inplace=True)
infoTransactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_id               19445 non-null  int64
 1   transaction_date         19445 non-null  datetime64[ns]
 2   online_order             19445 non-null  float64
 3   order_status             19445 non-null  int64
 4   product_line             19445 non-null  object
 5   product_class            19445 non-null  object
 6   product_size             19445 non-null  object
 7   Profit                   19445 non-null  float64
 8   product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(3)
memory usage: 2.0+ MB

C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\2662831273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infoTransactions['online_order'].replace('TRUE', 1, inplace=True)
C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\2662831273.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infoTransactions['online_order'].replace('FALSE', 0, inplace=True)
C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\2662831273.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infoTransactions['order_status'].replace('Approved', 1, inplace=True)
C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\2662831273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infoTransactions['order_status'].replace('Cancelled', 0, inplace=True)

In [124]:
obj_column = infoTransactions.select_dtypes('object').columns
print(obj_column)
for obj in obj_column :
    print(f'{obj}:{infoTransactions[obj].unique()}')

Index(['product_line', 'product_class', 'product_size'], dtype='object')
product_line:['Standard' 'Road' 'Mountain' 'Touring']
product_class:['medium' 'low' 'high']
product_size:['medium' 'large' 'small']

In [85]:
most_recent_purchase = infoTransactions['transaction_date'].max()
most_recent_purchase

Timestamp('2017-12-30 00:00:00')

In [77]:
infoTransactions.corr()

C:\Users\M1820\AppData\Local\Temp\ipykernel_12164\589851160.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  infoTransactions.corr()

              product_id  online_order    Profit
product_id      1.000000     -0.005471  0.074491
online_order   -0.005471      1.000000 -0.006798
Profit          0.074491     -0.006798  1.000000